<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476014117271-n4nt418nd9sjlv20706i7mbivtd3b90g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476014117271-n4nt418nd9sjlv20706i7mbivtd3b90g</string>
	<key>API_KEY</key>
	<string>AIzaSyAMS_Nc3IuLqJ0AT3z60qShKbfcFWUOiwg</string>
	<key>GCM_SENDER_ID</key>
	<string>476014117271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carcrm</string>
	<key>PROJECT_ID</key>
	<string>carcrm-57969</string>
	<key>STORAGE_BUCKET</key>
	<string>carcrm-57969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476014117271:ios:8178c58c3187dd540e04d2</string>
</dict>
</plist>