<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794334677094-800vifglnecq1fnhkln72u2ek6qbatjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794334677094-800vifglnecq1fnhkln72u2ek6qbatjh</string>
	<key>API_KEY</key>
	<string>AIzaSyAYESvgps2kye_1Rj8cn_5TRuoexqdbFWM</string>
	<key>GCM_SENDER_ID</key>
	<string>794334677094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gencrm</string>
	<key>PROJECT_ID</key>
	<string>gen-crm</string>
	<key>STORAGE_BUCKET</key>
	<string>gen-crm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794334677094:ios:171761c121eab7b18085a7</string>
</dict>
</plist>